body {
  background-image: url('../src/assets/svg/waves.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  min-height: 100vh;
}



/* styles.scss */

/* Default light/day background */
.day-theme {
  background-image: url('../src/assets/svg/circle-join.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  min-height: 100vh;
  transition: opacity 0.7s ease-in-out;

}

/* Night background */
.night-theme {
  background-image: url('../src/assets/svg/waves.svg');
  /* <- create darker version */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  min-height: 100vh;
  transition: opacity 0.7s ease-in-out;
}


/* styles.scss or component scss */

/* Day theme robot container */
.day-theme .robot-container h5 {
  background-color: #eeeedc;
  color: black;
  border: 1px solid #ccc;
  backdrop-filter: none;
  border: 1px solid black;
}

/* Night theme robot container */
.night-theme .robot-container h5 {
  background-color: #181722e7;
  color: white;
  border: 1px solid #fff;
  backdrop-filter: blur(5px);
}


.day-theme .bell-icon {
  color: #00ecff;
}

.night-theme .bell-icon {
  color: #ffffff !important;
}

.night-theme .channel-pill {
  border: none !important;
}

// .day-theme .symbolRate {
//   background-color: #f3ffda !important;
//   color: #000000 !important;
// }

// .day-theme .emr-temp {
//   background-color: #f3ffda !important;
//   color: #000000 !important;
// }

.day-theme .card-header {
  background-color: transparent !important;
}


/* Base video style */
.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

/* When BODY has day-theme → show day video */
.day-theme .day-video {
  opacity: 1;
}

.day-theme .night-video {
  opacity: 0;
}

/* When BODY has night-theme → show night video */
.night-theme .day-video {
  opacity: 0;
}

.night-theme .night-video {
  opacity: 1;
}